/* GENERALES */
html {
  overflow-x: hidden;
}
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: 'Open Sans', sans-serif;
}

input {
  padding: 5px 9px;
  border-radius: 5px;
  border: none;
  outline: none;
}

button {
  padding: 5px 9px;
  border-radius: 5px;
  background-color: #e0e2db30;
  color: whitesmoke;
  border: 1px solid #c2c6ff;
  cursor: pointer;
}

button:hover {
  background-color: #e0e2db66;
}

button > svg {
  margin: auto;
}

/* Header */

.container_principalHeader {
  width: 100vw;
  height: 8vh;
  background-color: #3d348b;
  display: flex;
  justify-content: flex-end;
  align-items: center;
  padding: 35px;
}

.container_search {
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 10px;
}

.container_search > button {
  padding: 3px 5px;
}

.container_search > input {
  width: 17vw;
}

.agregar_elemento {
  display: flex;
  align-items: center;
  justify-content: space-between;
  gap: 6px;
  margin-right: 15px;
}

.container_contentHeader {
  width: 60%;
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 0.4rem;
}

/* MAIN */

.container_view {
  display: grid;
  grid-template-columns: minmax(100px, 0.2fr) minmax(200px, 0.8fr);
  width: 100%;
}

/* LISTASIDE */
.listAside {
  height: 92vh;
  display: flex;
  flex-direction: column;
  padding: 5px 10px;
}

.listAside h2 {
  display: flex;
  align-items: center;
  justify-content: center;
  font-size: 3.5vh;
  gap: 5px;
  margin-top: 10px;
}

.listAside ul {
  list-style: none;
  display: flex;
  flex-direction: column;
  justify-content: space-around;
  align-items: flex-start;
  gap: 5px;
  margin-top: 3vh;
}

.listAside ul li {
  font-size: 2vh;
  font-weight: 500;
  padding: 2px 4px;
  cursor: pointer;
  transition: all 0.1s ease;
}

.listAside ul li:hover {
  background-color: #3d348b;
  color: white;
  border-radius: 5px;
}

.liActive {
  background-color: #3d348b;
  color: white;
  border-radius: 5px;
}

/* POPUP */

.popUpContainer_principal {
  width: 100vw;
  height: 100vh;
  position: absolute;
  top: 0;
  left: 0;
  display: none;
  justify-content: center;
  align-items: center;
  backdrop-filter: blur(2px);
}

.popUpContainer {
  width: 50vw;
  background-color: white;
  border-radius: 0.4rem;
  box-shadow: 5px 2px 10px 10px rgba(0, 0, 0, 0.3);
  padding: 15px 20px;
  position: relative;
}

.popUpContainer h1 {
  width: 100%;
  text-align: center;
}

.containerInputs {
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 1.5vh;
  margin-top: 20px;
}

.containerInputs > input,
.containerInputs > select {
  width: 80%;
  padding: 5px 9px;
  border: 1px solid gray;
  border-radius: 0.4rem;
}

.containerButtons {
  display: flex;
  justify-content: flex-end;
  align-items: center;
  gap: 10px;
  margin-top: 20px;
  padding: 15px 20px;
}

button.closeModal {
  position: absolute;
  right: 5px;
  top: 5px;
  border: 0;
  padding: 0;
}

.accept {
  background-color: #4dff4d;
  color: black;
  border: 0;
}

.accept:hover {
  background-color: #4dff4d9a;
}

.delete {
  background-color: #ff2929;
  border: 0;
}

.delete:hover {
  background-color: #ff2929be;
}

/* STORE */

.store {
  background-color: #eee;
  max-height: 92vh;
  overflow-y: auto;
}

.section_store {
  background-color: #fff;
  margin: 1rem;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  gap: 20px;
  padding: 20px 60px;
}

.section_store h3 {
  font-size: 2rem;
}

.container_products {
  width: 100%;
  display: grid;
  grid-template-columns: repeat(auto-fill, minmax(15vw, 1fr));
  gap: 2vh;
}

.product_card {
  max-width: 15vw;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  gap: 10px;
  padding-bottom: 15px;
  background-color: #6f60f842;
  border-radius: 0.4rem;
  box-shadow: 2px 1px 3px 3px rgba(0, 0, 0, 0.1);
  border: 2px solid #6f60f843;
  transition: all 0.2s ease;
  cursor: pointer;
}

.product_card:hover {
  scale: 105%;
}

.product_card h4 {
  font-size: 1rem;
  font-weight: 500;
}

.product_card p {
  font-size: 0.8rem;
  text-align: center;
  padding: 0 10px;
}

.product_card img {
  max-width: 100%; /* Se adapta al ancho del contenedor */
  height: auto; /* Mantiene la proporción */
  object-fit: cover;
}
